<?xml version="1.0"?>
<launch>
    <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch">
        <arg name="enable_pointcloud" value="true"/>
    </include>
    <node pkg="deprojection_pipeline" type="camera_color_optical_frame_static_publisher.py" name="base_link_static_publisher" />
    <node pkg="deprojection_pipeline" type="base_link_map_static_publisher.py" name="map_static_publisher" />
    <node pkg="rviz" type="rviz" name="rviz_camera_server" args="-d $(find deprojection_pipeline)/rviz/fiducial2_viz.rviz"/>
</launch>